.header{
    color: white;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.884);
    max-width: 100vw;
    height: min-content;
    padding: 2%;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}
.budget{
color: peru;
line-height: 40px;
}